/*  your css code here. If applicable */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	padding-top: 2px;
}

img {
	width: 400px;
	height: 200px;
	object-fit: cover;
}

.hero {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

button {
	padding: 0.5rem;
	background-color: red;
	color: white;
	border-radius: 3px;
	border: 0;
}

.info {
	text-align: center;
	margin-left: 20px;
	padding: 20px;
}